<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan
            base-package="main.java.kr.mjc.changhee.spring.day2.article.componentscan"/>
    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="dataSource" class="org.mariadb.jdbc.MariaDbDataSource">
        <constructor-arg value="${db.url}"/>
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="articleDao"
          class="main.java.kr.mjc.changhee.spring.day2.article.xmlconfig.ArticleDaoImpl">
        <constructor-arg ref="namedParameterJdbcTemplate"/>
    </bean>
</beans>